body {
  background-image: url('/images/bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main {
    text-align: center;
    background-color: yellow;
    color: green;
    font-size: x-large;
  }
  .head {
    text-align: center;
    color: purple;
    font-size: x-large;
    text-decoration: underline;
    background-color: lightgreen;
  }
  .para {
    text-align: justify;
    background-color: aqua;
    font-size: x-large;
  }
  .paraa {
    text-align: center;
    background-color: aqua;
    font-size: x-large;
  }
  .div {
    width: 300px;
    float: left;
  }
  .divs {
    width: 500px;
    float: right;
  }
  .divss {
    width: 300px;
    float: right;
  }
  .divsss {
    width: 300px;
    float: left;
  }
  .divssss {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  * {
    margin: 5px;
    padding: 5px;
  }
  .link {
    font-size: x-large;
    color: red;
    font-weight: bold;
  }
  .movie {
    font-size: xx-large;
    color: red;
    background-color: black;
    text-align: center;
    text-decoration: underline;
  }
  .qwert{
    color: aqua;
  }